<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Registration Succeeded!</h2>
    <span>Full name:</span><span th:text="${employee.name}"></span><br/>
    <span>User name:</span><span th:text="${employee.userName}"></span><br/>
    <span>Address name:</span><span th:text="${employee.address}"></span><br/>
    <span>Date of Joining:</span><span th:text="${employee.dateOfJoining}"></span><br/>
    <span>Date of Role:</span><span th:text="${employee.role}"></span><br/>
    


</div>
</body>
</html>